@model ProductIndexViewModel

@{
	ViewData["Title"] = "Таблица с всички продукти";
}

<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(../../../img/bg-img/healty.jpg);">
	<div class="container h-100">
		<div class="row h-100 align-items-center">
			<div class="col-12">
				<div class="breadcumb-text text-center">
					<h2>Не знаеш колко блока е даден продукт?</h2>
				</div>
			</div>
		</div>
	</div>
</div>
<br />

@using (Html.BeginForm("SelectedItem", "Product", FormMethod.Get))
{
	<div class="form-group">

		<div class="row">
			<div class="col-4 text-right">
				<label for="productName"><h5>Търси продукт от таблицата:</h5></label>
			</div>

			<div class="col-8 text-right">
				<input type="text" id="productName" name="selectedProductName" class="form-control" required autocomplete="on" list="productList">
				<datalist id="productList">
					@foreach (var product in Model.Products)
					{
						<option value="@product.Name"></option>
					}
				</datalist>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12 text-center">
			<button class="btn delicious-btn" type="submit">Търси</button>
		</div>
	</div>
}
<br />

<div class="breadcumb-area bg-img bg-overlay" style="background-image: url(../../../img/bg-img/r6.jpg);">
	<div class="container h-100">
		<div class="row h-100 align-items-center">
			<div class="col-12">
				<div class="breadcumb-text text-center">
					<h2>Таблица с всички продукти</h2>
				</div>
			</div>
		</div>
	</div>
</div>
<br />

@if (Model.Products != null && Model.Products.Any())
{
	<table class="table table-striped">
		<thead>
			<tr>
				<th>Име</th>
				<th>Вид</th>
				<th>Грамаж</th>
				<th>Цвят Зона</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var product in Model.Products)
			{
				<tr>
					<td>@product.Name</td>
					<td>@product.Type.Name</td>
					<td>@product.Weight</td>
					<td>@product.ZoneChoiceColor.Name</td>
				</tr>
			}
		</tbody>
	</table>
}
else
{
	<p>Няма открити продукти</p>
}

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}