@model ProductIndexViewModel

@{
    ViewData["Title"] = "Selected Product";
}

<h1>Selected Product</h1>

@using (Html.BeginForm("SelectedItem", "Product", FormMethod.Get))
{
    <div class="form-group">
        <label for="productName">Product Name:</label>
        <input type="text" id="productName" name="selectedProductName" class="form-control" required autocomplete="on" list="productList">
        <datalist id="productList">
            @foreach (var product in Model.AllProducts)
            {
                <option value="@product.Name"></option>
            }
        </datalist>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
    <button type="button" class="btn btn-secondary" onclick="window.location.href='@Url.Action("Index", "Product")'">Clear</button>
}
@if (Model.Products != null && Model.Products.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Weight</th>
                <th>ZoneChoiceColor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.Products)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Type.Name</td>
                    <td>@product.Weight</td>
                    <td>@product.ZoneChoiceColor.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No product found.</p>
}

<hr />

<h1>Всички продукти в базата данни</h1>

@if (Model.AllProducts != null && Model.AllProducts.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Type</th>
                <th>Weight</th>
                <th>ZoneChoiceColor</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.AllProducts)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>@product.Type.Name</td>
                    <td>@product.Weight</td>
                    <td>@product.ZoneChoiceColor.Name</td>
                </tr>
            }
        </tbody>
    </table>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}