@model DetailsRecipeViewModel

@{
        <!-- ##### Breadcumb Area Start ##### -->
        <div class="breadcumb-area bg-img bg-overlay" style="background-image: url(img/bg-img/breadcumb3.jpg);">
            <div class="container h-100">
                <div class="row h-100 align-items-center">
                    <div class="col-12">
                        <div class="breadcumb-text text-center">
                            <h2>Recipe</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ##### Breadcumb Area End ##### -->

        <div class="receipe-post-area section-padding-80">
            <!-- Receipe Content Area -->
            <div class="receipe-content-area">
                <div class="container">

                    <div class="row">
                        <div class="col-12 col-md-8">
                            <div class="receipe-headline my-5">
                                <h2>@Model.Name</h2>
                                <div class="receipe-duration">
                                    <h6>Време за приготвяне: @Model.PrepTime mins</h6>
                                    <h6>Време за готвене: @Model.CookTime mins</h6>
                                    <h6>Общо време: @Model.TotalTime mins</h6>
                                    <h6>Общ брой блокове: @Model.TotalProtein Протеин @Model.TotalCarbohydrat Въглехидрат @Model.TotalFat Мазнини </h6>
                                </div>
                            </div>
                        </div>

                        <div class="col-12 col-md-4">
                            <div class="receipe-ratings text-right my-5">
                                <div class="ratings">
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star" aria-hidden="true"></i>
                                    <i class="fa fa-star-o" aria-hidden="true"></i>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 col-lg-8">
                            <!-- Single Preparation Step -->
                        <h4>Начин на приготвяне:</h4>
                            <div class="single-preparation-step d-flex">
                                <p>@Model.Description</p>
                            </div>
                        </div>

                        <!-- Ingredients -->
                        <div class="col-12 col-lg-4">
                            <div class="ingredients">
                                <h4>Необходими продукти</h4>

                            @foreach (var ingredient in Model.Ingredients)
                            {
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck@(ingredient.Id)">
                                    <label class="custom-control-label" for="customCheck@(ingredient.Id)">@ingredient.Name - @ingredient.Weight гр. - @ingredient.TypeQuantity Блок @ingredient.Type.Name</label>
                                </div>
                            }
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="section-heading text-left">
                                <h3>Leave a comment</h3>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="contact-form-area">
                                <form action="#" method="post">
                                    <div class="row">
                                        <div class="col-12 col-lg-6">
                                            <input type="text" class="form-control" id="name" placeholder="Name">
                                        </div>
                                        <div class="col-12 col-lg-6">
                                            <input type="email" class="form-control" id="email" placeholder="E-mail">
                                        </div>
                                        <div class="col-12">
                                            <textarea name="message" class="form-control" id="message" cols="30" rows="10" placeholder="Message"></textarea>
                                        </div>
                                        <div class="col-12">
                                            <button class="btn delicious-btn mt-30" type="submit">Post Comments</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}