@model IEnumerable<AllRecipesViewModel>

@{
	ViewBag.Title = "Рецепти по зоната";
}


<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<!-- Receipe Post Search -->
<div class="receipe-post-search mb-40">
	<div class="container">
		<form action="@Url.Action("Index", "Recipe")" method="get">
			<div class="row">
				<div class="col-12 col-lg-4">
					<select name="select1" id="select1">
						<option value="">Избери категория</option>
						@foreach (var option in ViewBag.RecipeTypeOptions)
						{
							<option value="@option.Id">@option.Name</option>
						}
					</select>
				</div>
				<div class="col-12 col-lg-6">
					<input type="search" name="search" placeholder="Търси по ключова дума">
				</div>
				<div class="col-12 col-lg-2 text-right">
					<button type="submit" class="btn delicious-btn">Search</button>
				</div>
			</div>
		</form>
	</div>
</div>

<br />

@if (User.Identity.IsAuthenticated)
{
	<div class="row">
		<div class="col-12 text-center">
			<a class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms" asp-area="" asp-controller="Recipe" asp-action="Add">Добави нова рецепта</a>
		</div>
	</div>
}

<br />
<!-- Receipe Slider -->
<div class="container">
	<div class="row">
		<div class="col-12">
			<div class="receipe-slider owl-carousel">
				<div>
					<img src="img/bg-img/breadcumb3.jpg" alt="">
				</div>
				<div>
					<img src="img/bg-img/breadcumb2.jpg" alt="">
				</div>
				<div>
					<img src="img/bg-img/breadcumb4.jpg" alt="">
				</div>
				<div>
					<img src="img/bg-img/breadcumb1.jpg" alt="">
				</div>
				<div>
					<img src="img/bg-img/breadcumb5.jpg" alt="">
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Receipe Carousel -->
<section class="hero-area">
	<div class="hero-slides owl-carousel">
		<!-- Single Hero Slide -->
		<div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/breadcumb3.jpg);">
			<div class="container h-100">
				<div class="row h-100 align-items-center">
					<div class="col-12 col-md-9 col-lg-7 col-xl-6">
						<div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
							<h2 data-animation="fadeInUp" data-delay="300ms">Закуски</h2>
							<p data-animation="fadeInUp" data-delay="700ms">Разгледайте вкусните предложения за закуски</p>
							<a href="https://localhost:7153/Recipe?select1=1&search=" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">Виж тук</a>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Single Hero Slide -->
		<div class="single-hero-slide bg-img" style="background-image: url(img/bg-img/bg6.jpg);">
			<div class="container h-100">
				<div class="row h-100 align-items-center">
					<div class="col-12 col-md-9 col-lg-7 col-xl-6">
						<div class="hero-slides-content" data-animation="fadeInUp" data-delay="100ms">
							<h2 data-animation="fadeInUp" data-delay="300ms">Delicios Homemade Burger</h2>
							<p data-animation="fadeInUp" data-delay="700ms">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique nisl vitae luctus sollicitudin. Fusce consectetur sem eget dui tristique, ac posuere arcu varius.</p>
							<a href="#" class="btn delicious-btn" data-animation="fadeInUp" data-delay="1000ms">See Receipe</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!-- Receipe Carousel -->

<br />

<div class="row">
	@foreach (var recipe in Model)
	{
		<!-- Single Best Receipe Area -->
		<div class="col-12 col-sm-6 col-lg-4">
			<div class="single-best-receipe-area mb-30">
				<img src="img/bg-img/r1.jpg" alt="">
				<div class="receipe-content">
					<a href="@Url.Action("Details", "Recipe", new { id = recipe.Id })">
						<h5>@recipe.Name</h5>
						<h>@recipe.TotalProtein БП @recipe.TotalCarbohydrat БВ @recipe.TotalFat БМ</h>
					</a>

					@if (User.Identity.Name == recipe.Creator)
					{
						<a asp-controller="Recipe" asp-action="Edit" asp-route-id="@recipe.Id" class="btn btn-light btn-sm mb-2 w-100 p-3 fw-bold text-dark">Редактирай</a>
					}
				</div>
			</div>
		</div>
	}
</div>

@section Scripts {
	<partial name="_ValidationScriptsPartial" />
}
